#wrapperHeader {
 width:100%;
 height:400px; 
 background:url(images/header.jpg);
 border-style: dotted;
 border-color: blue;
}

#company-info {
	float:left;
	width: 100%;
	margin-top: 25px;
}

.logo-text {
	float:left;
	color: gray;
	margin-left: 15px;
}

img.logo-image {
	float: left;
	margin-left: 100px;
	margin-top: -14px;
}

#header-links {
color: gray;
width: 186px;
height: 38px;
float: right;
margin-right:100px;
}
 .search-text {
 	display: inline-block;
}

 .about-text {
 	display: inline-block;
 	margin-right: 10px;
 }

.search-icon {
	float:right;
	margin-right: 20px;
}

#titleText {
font-family: 'PT Sans', sans-serif;	
color:white;
font-size: 80px;
text-align: center;
padding-top: 150px;
width:100%;
height: 200px;
 }

 .tagline {
 	color:black;
 	font-size: 12px;
 	margin-top: -20px;
 }

 /*******Body******/

#main-body {
 	width: 1000px;
 	height:800px;
 	margin-left: 125px;
 	margin-right: 20px;
 }

.main-text {
	width:700px;
	height: 600px;
	background-color:red;
	float: left;
}

.side-bar {
	width:300px;
	height: 600px;
	float:right;
	background: rgba(255, 0, 0, 0.2)

}
