#wrapperHeader {
 width:100%;
 height:400px; 
 background:url(images/header.jpg);
 border-style: dotted;
 border-color: blue;
}

#titleText {
font-family: 'PT Sans', sans-serif;	
color:white;
font-size: 80px;
text-align: center;
padding-top: 150px;
padding-bottom: 50px;
width:100%;
height: 200px;
border-style: solid;  
border-color: black;
 }


.logo-text {
	float:left;
	margin-left:200px;
	margin-top: 10px;
	color: white;
}


#header-links {
color: white;
border-style: solid;
border-color: red;
width: 186px;
height: 38px;
float: right;
margin-right:10px;
}
 .search-text {
 	display: inline-block;
}

 .about-text {
 	display: inline-block;
 }

.search-icon {
	float:right;
	margin-right: 10px;

}

div#main-body {
 	width: 800px;
 	height:800px;
 	border-style: dotted;
 	border-size: 2px;
 	border-color: red;
 	margin-left: 125px;
 	margin-right: 20px;
 }


