$color1: green;
$color2: blue;

@mixin rounded($radius) {
  border-radius: $radius;
}

.box1 {
  width:100px;
  height:100px;
  background-color: $color1;
  margin:10px 0;
  @include rounded(20px);
}

.box2 {
  @extend .box1;
  background-color: $color2;
  @include rounded(50px);
}
